---
import ExperienciaItem from "./ExperienciaItem.astro";
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Desarrollador Wordpress",
    company: "Ramadan Marketing",
    description:
      "Soy desarrollador WordPress. Me dedico a crear sitios web personalizados con la herramienta WordPress. También soy el encargado de administrar los sitios web de las distintas compañías.",
    link: "https://ramadanmktg.com/index.html",
  },
  {
    date: "Abril 2019",
    title: "Desarrollador Font-end Jr ",
    company: "Cotrautol",
    description:
      "Responsable del sitio web de la compañía. Contribuí significativamente a la mejora del diseño, la funcionalidad y la experiencia del usuario del sitio web. Además, me encargué del mantenimiento continuo, asegurando que el sitio web estuviera siempre actualizado, seguro y funcionando de manera óptima.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienciaItem {...experiencie} />
      </li>
    ))
  }
</ol>
